<%# <%= if logged_in? %> 
<%# <div class="row">

    <section> %>
    <%# <%= render 'shared/student_info' %> 
    <%# </section>
    <section> %>
    <%# <%= render 'shared/appointment_form' %> 
    <%# </section>

</div> %>
<%# <%= else %> 

<div class="center jumbotron">

    <h1>Tutor-Time</h1>

    <h2>The place for all your tutoring needs.</h2>

    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

</div>


<%# <% end %> 

