<h1>Welcome <%= @student.username %> </h1>

<%# 
<div>
  <aside class ='col-md-4'>
    <section class='student_info'>
      <h1> %>
        <%# <%= gravatar_for @student %> 
        <%# <%= @student.username %> 
      <%# </h1>
    </section>
  </aside> %>



<%# </div> %>


<h5>Today you have the following appointments with:</h5>

<% @student.appointments.each do |appointment| %>
  <% @student_tutor = @student.tutors.find(appointment.tutor_id) %>
  <%= link_to @student_tutor.name, tutor_path(@student_tutor) %> - <%= link_to appointment.appointment_time.strftime("%b %e, %l:%M %p"), appointment_path(appointment) %><br>
<% end %>


<%= link_to 'Book Appointment', student_appointments_path, class: 'btn btn-primary' %>

