<ul class='students'>
<h1> Tutors </h1>
 
<% @tutors.each do |tutor| %>
<li>
  <%= link_to tutor.name, tutor_path(tutor) %>
 </li>
<% end %>
 
</ul>


<%= form_tag(search_name_path, :method => "get", class: 'navbar-form ') do %>  
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag :query, "Search by tutor by Subject:" %>
    <%= text_field_tag :query, "", class:"form-control" %>
    <%= submit_tag "Search", class: "btn btn-sm btn-primary" %>
  <% end %> 
   <% end %> 
  


