<h1>Welcome my bio</h1>

<h4>My name is: <%= @tutor.name %> </h4>
<h4>Tutoring experience: <%= @tutor.years_exp %> years</h4>
<h4>Subject matter expert in: <%= @tutor.SME %> </h4>





<% @tutor.appointments.each do |appointment| %>
  <% @tutor_student = @tutor.students.find(appointment.student_id) %>
  <%= link_to @tutor_student.username, student_path(@tutor_student) %> - 
  <%= link_to appointment.appointment_time.strftime("%b %e, %l:%M %p"), appointment_path(appointment) %><br>
<% end %>

<h3>Book an appoiment here</h3>

