<%= form_with(model: @appointment, local: true) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

        <%= f.label "Select Subject" 
        <%# <%= f.select :tutor_id, options_from_collection_for_select(Tutor.all, "id", "SME") %> 
</div>
        <%# <%= f.label :date %> 
        <%= f.date_select :appointment_time, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year, end_year: Date.today.year + 5}, {required: true} 

<%= f.submit yield(:button_text), class: "btn btn-primary" %> 
<% end %> 



